<template>
  <v-app>
    <div class="background_2">
      <v-content>
        <div>
          <!-- <AddItem/> -->
          <Dialog/>
          <Booking/>
          <ChargeForm/>
          <br>
        </div>
      </v-content>
    </div>
  </v-app>
</template>
<style scope>
.background_2 {
  /* background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/videoblocks-fast-moving-blue-stars-on-black-background_rqtysz4qg_thumbnail-full01.png"); */
  /* background-image: url("http://www.thequotesland.com/wp-content/uploads/2016/07/09-Free-navy-blue-and-black-wallpaper-HD.jpg"); */
  background-image: url("https://www.setaswall.com/wp-content/uploads/2017/12/Blue-And-Black-Wallpaper-32-1920x1200.jpg");
  width: 100%;
  /* height: 100%; */
  background-position: center;
  background-repeat: repeat-y;
  /* background-size: cover; */
}
</style>
<script>
import AddItem from "@/components/AddBooking";
import Booking from "@/components/Booking.vue";
import Dialog from "@/components/Dialog";
import ChargeForm from "@/components/ChargeForm";
export default {
  components: {
    AddItem,
    Booking,
    Dialog,
    ChargeForm
  }
};
</script>