<template>
  <v-app>
    <div class="background3">
      <v-content>
        <!-- <div> -->
        <Chat/>
        <!-- </div> -->
      </v-content>
    </div>
  </v-app>
</template>
<style scope>
.background3 {
  background-image: url("https://images.wallpaperscraft.com/image/darth_vader_armor_star_wars_film_hat_snow_93645_1920x1080.jpg");
  width: 100%;
  height: 100%;
  /* height: 500px; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
</style>
<script>
import Chat from "@/components/Chat.vue";
export default {
  components: {
    Chat
  }
};
</script>