<template dark>
  <v-app>
    <div class="background1">
      <v-content style="padding-top: 0% !important;">
        <div>
          <DashboardForm/>
          <br>
          <MovieForm/>
          <br>
        </div>
      </v-content>
    </div>
  </v-app>
</template>
<style scope>
.background1 {
  background-image: url("http://4.bp.blogspot.com/-ISMSPfAspPg/UHNvuCcWURI/AAAAAAAABgA/hwL8mcFjjO4/s1600/Abstracto%2BAzul.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}
</style>
<script>
import DashboardForm from "@/components/DashboardForm.vue";
import MovieForm from "@/components/MovieForm.vue";
export default {
  components: {
    DashboardForm,
    MovieForm
  }
};
</script>