<template>
  <v-app>
    <div class="background2">
      <v-content style="margin-left: 3%;margin-right: 3%;">
        <div>
          <Ticket/>
          <DialogTicket/>
        </div>
      </v-content>
    </div>
  </v-app>
</template>
<style scope>
.background2 {
  background-image: url("https://www.goodrichqualitytheaters.com/image?url=http://cms.goodrichqualitytheaters.com/media/1514/battle-creek-movie-theater-recliner-seats.jpg");
  width: 100%;
  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
</style>
<script>
import Ticket from "@/components/Ticket"
import DialogTicket from "@/components/DialogTicket"
export default {
  components: {
    Ticket,
    DialogTicket
  }
};
</script>
