<template>
  <v-app>
    <v-content>
      <div>
        <v-toolbar app dark style="height: 80px;">
          <v-btn icon to="/" style="width:100px;margin: 0%;margin-top: 2%;height: 96px;">
            <v-img :src="require('@/assets/logo_toolbar.png')"></v-img>
          </v-btn>

          <v-spacer></v-spacer>
          <v-menu v-if="showUsername !== null" open-on-hover top offset-y>
            <template v-slot:activator="{ on }">
              <v-btn color="red" outline v-on="on">
                <v-icon dark left>face</v-icon>
                {{ showUsername }}
              </v-btn>
            </template>
            <v-list dark>
              <v-list-tile v-for="(item, index) in items" :key="index" @click="action(item.action)">
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
          <div v-else>
            <v-btn outline @click="showLoginDialog" color="red">login</v-btn>
            <v-btn outline @click="showRegisterDialog" color="red">register</v-btn>
          </div>
        </v-toolbar>
        <router-view/>
        <DialogLogin/>
        <DialogRegister/>
      </div>
    </v-content>
  </v-app>
</template>

<script>
import { EventBus } from "@/EventBus";
import DialogLogin from "@/components/DialogLogin";
import DialogRegister from "@/components/DialogRegister";
import Cookies from "universal-cookie";
const cookies = new Cookies();

export default {
  components: {
    DialogLogin,
    DialogRegister
  },
  data: () => ({
    logo_icon: require("@/assets/logo_icon.jpg"),
    showUsername: "",
    items: [
      { title: "My Ticket", action: "formdetailticket" },
      { title: "Chat", action: "formchat" },
      { title: "Logout", action: "formlogout" }
    ]
  }),
  mounted() {
    this.showUsername = localStorage.getItem("username");
  },
  methods: {
    on() {},
    action(action) {
      if (action === "formdetailticket") {
        this.$router.push("/ticket");
      } else if (action === "formlogout") {
        this.$cookies.remove("authen");
        localStorage.removeItem("username");
        this.$router.push("/");
        window.location.reload();
      } else if (action === "formchat") {
        this.$router.push("/chat");
      }
    },
    showLoginDialog() {
      EventBus.$emit("showLoginDialog");
    },
    showRegisterDialog() {
      EventBus.$emit("showRegisterDialog");
    }
  }
};
</script>

<style lang="scss" scoped>
</style>