<template>
  <v-app id="font">
    <router-view/>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";
import Cookies from "universal-cookie";
const cookies = new Cookies();

export default {
  name: "App"
};
</script>
<style scoped>
#font {
  font-family: "Istok Web", sans-serif;
}
</style>
