<template>
  <v-container grid-list-md text-xs-center>
    <v-flex>
    </v-flex>
    <v-flex>
      <h1 style="text-align: center;font-size: 40px;color: #ffdcdc;">{{movie_name_en}}</h1>
      <br>
      <h1 style="text-align: center;font-size: 40px;color: #ffdcdc;">{{movie_name_th}}</h1>
      <br>
      <h4
        style="text-align: center;font-size: 25px;color: #ffdcdc;"
      >{{movie_date}} Show {{movie_time}} o'clock</h4>
    </v-flex>
    <v-layout row wrap>
      <v-flex xs2 sm2 md2>
        <v-btn block color="primary" dark @click="Back()">Back</v-btn>
      </v-flex>
      <v-flex xs7 sm7 md7></v-flex>
      <v-flex xs3 sm3 md3>
        <v-btn block color="success" dark @click="CheckBooking()">Comfirm Cinema Ticket</v-btn>
      </v-flex>

      <v-flex
        v-for="items_seat in items_seats"
        :key="`4${items_seat._id}`"
        xs1
        sm1
        md1
        class="select"
      >
        <!-- honey moon -->
        <v-flex
          :class="className(items_seat)"
          v-if="items_seat.name_seat == 'Honey moon' && items_seat.seated === true"
        >
          <v-img class="white--text" height="100%" :src="img_h"></v-img>
          {{items_seat.type_seat_id}}
        </v-flex>

        <v-flex
          :class="className(items_seat)"
          v-if="items_seat.name_seat == 'Honey moon' && items_seat.seated === false"
          @click="ChooseSeat(items_seat)"
        >
          <v-img class="white--text" height="100%" :src="img_h"></v-img>
          {{items_seat.type_seat_id}}
        </v-flex>

        <!-- premium -->
        <v-flex
          :class="className(items_seat)"
          :disabled="items_seat.seated"
          v-if="items_seat.name_seat == 'Premium' && items_seat.seated === true"
          type="button"
        >
          <v-img class="white--text" height="100%" :src="img_p"></v-img>
          {{items_seat.type_seat_id}}
        </v-flex>
        <v-flex
          :class="className(items_seat)"
          :disabled="items_seat.seated"
          v-if="items_seat.name_seat == 'Premium' && items_seat.seated === false"
          type="button"
          @click="ChooseSeat(items_seat)"
        >
          <v-img class="white--text" height="100%" :src="img_p"></v-img>
          {{items_seat.type_seat_id}}
        </v-flex>

        <!-- mormal -->
        <v-flex
          :class="className(items_seat)"
          :disabled="items_seat.seated"
          v-if="items_seat.name_seat == 'Normal' && items_seat.seated === true"
          type="button"
        >
          <v-img class="white--text" height="100%" :src="img_n"></v-img>
          <div class>{{items_seat.type_seat_id}}</div>
        </v-flex>

        <v-flex
          :class="className(items_seat)"
          :disabled="items_seat.seated"
          v-if="items_seat.name_seat == 'Normal' && items_seat.seated === false"
          type="button"
          @click="ChooseSeat(items_seat)"
        >
          <v-img class="white--text" height="100%" :src="img_n"></v-img>
          <div class>{{items_seat.type_seat_id}}</div>
        </v-flex>
        <!-- deluxe -->
        <v-flex
          :class="className(items_seat)"
          :disabled="items_seat.seated"
          v-if="items_seat.name_seat == 'Deluxe' && items_seat.seated === true"
          type="button"
        >
          <v-img class="white--text" height="100%" :src="img_d"></v-img>
          <div class>{{items_seat.type_seat_id}}</div>
        </v-flex>

        <v-flex
          :class="className(items_seat)"
          :disabled="items_seat.seated"
          v-if="items_seat.name_seat == 'Deluxe' && items_seat.seated === false"
          type="button"
          @click="ChooseSeat(items_seat)"
        >
          <v-img class="white--text" height="100%" :src="img_d"></v-img>
          <div class>{{items_seat.type_seat_id}}</div>
        </v-flex>
      </v-flex>
      <v-flex xs12 text-xs-center>
        <v-card dark color="teal">
          <v-card-text>Screen</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import Cookies from "universal-cookie";
const cookies = new Cookies();
import { EventBus } from "@/EventBus";
import { sync } from "vuex-pathify";

export default {
  computed: {
    data_seat: sync("items_seat"),
    data_movie: sync("items_movie")
  },
  data: () => ({
    selectSeats: [],
    selectSeats_send: [],
    array_send: [],
    total_price: 0,
    items_seats: [],
    img_h: require("@/assets/h.png"),
    img_n: require("@/assets/n.png"),
    img_p: require("@/assets/p.png"),
    img_d: require("@/assets/d.png"),
    movie_id_get: "",
    movie_name_th: "",
    movie_name_en: "",
    movie_path: "",
    movie_time: "",
    movie_date: "",
    src_1: require("@/assets/promotion_2.png")
  }),
  created() {
    window.scrollTo(0, 0);
    if (!cookies.get("authen")) {
      this.$router.push("/");
    }
    this.movie_id_get = localStorage.getItem("movie_id");
    this.movie_name_th = localStorage.getItem("movie_name_th");
    this.movie_name_en = localStorage.getItem("movie_name_en");
    this.movie_date = localStorage.getItem("movie_date");
    this.movie_time = localStorage.getItem("movie_time");
    this.movie_path = localStorage.getItem("movie_path");
    this.getData(this.movie_id_get);
  },
  methods: {
    className(seat) {
      const ids = this.selectSeats.map(items_seat => items_seat._id);
      const idx = ids.indexOf(seat._id);
      return ["button", { error: seat.seated, success: idx != -1 }];
    },
    ChooseSeat(items_seat) {
      this.handleChooseSeat(items_seat);
    },
    handleChooseSeat(seat) {
      var ids = this.selectSeats.map(items_seat => items_seat._id);
      var idx = ids.indexOf(seat._id);
      if (idx === -1) {
        this.selectSeats.push(seat);
        this.selectSeats_send.push({
          _id: seat._id,
          name: seat.type_seat_id,
          price: seat.price,
          type: seat.name_seat
        });
        this.total_price += seat.price;
      } else {
        this.selectSeats.splice(idx, 1);
        this.selectSeats_send.splice(idx, 1);
        this.total_price -= seat.price;
      }
    },
    async getData(id) {
      try {
        this.axios
          .get("http://192.168.253.156:3000/seat/getseats_id/" + id)
          .then(response => {
            for (var i = 0; i < response.data.seat.length; i++) {
              if (response.data.seat[i].name_seat == "Honey moon") {
                this.items_seats.push(response.data.seat[i]);
              }
            }
            for (var i = 0; i < response.data.seat.length; i++) {
              if (response.data.seat[i].name_seat == "Premium") {
                if (
                  response.data.seat[i].type_seat_id == "B1" ||
                  response.data.seat[i].type_seat_id == "B2" ||
                  response.data.seat[i].type_seat_id == "B3" ||
                  response.data.seat[i].type_seat_id == "B4" ||
                  response.data.seat[i].type_seat_id == "B5" ||
                  response.data.seat[i].type_seat_id == "B6" ||
                  response.data.seat[i].type_seat_id == "B7" ||
                  response.data.seat[i].type_seat_id == "B8" ||
                  response.data.seat[i].type_seat_id == "B9" ||
                  response.data.seat[i].type_seat_id == "B10" ||
                  response.data.seat[i].type_seat_id == "B11" ||
                  response.data.seat[i].type_seat_id == "B12"
                ) {
                  this.items_seats.push(response.data.seat[i]);
                }
              }
            }
            for (var i = 0; i < response.data.seat.length; i++) {
              if (response.data.seat[i].name_seat == "Premium") {
                if (
                  response.data.seat[i].type_seat_id == "C1" ||
                  response.data.seat[i].type_seat_id == "C2" ||
                  response.data.seat[i].type_seat_id == "C3" ||
                  response.data.seat[i].type_seat_id == "C4" ||
                  response.data.seat[i].type_seat_id == "C5" ||
                  response.data.seat[i].type_seat_id == "C6" ||
                  response.data.seat[i].type_seat_id == "C7" ||
                  response.data.seat[i].type_seat_id == "C8" ||
                  response.data.seat[i].type_seat_id == "C9" ||
                  response.data.seat[i].type_seat_id == "C10" ||
                  response.data.seat[i].type_seat_id == "C11" ||
                  response.data.seat[i].type_seat_id == "C12"
                ) {
                  this.items_seats.push(response.data.seat[i]);
                }
              }
            }

            for (var i = 0; i < response.data.seat.length; i++) {
              if (response.data.seat[i].name_seat == "Normal") {
                if (
                  response.data.seat[i].type_seat_id == "D1" ||
                  response.data.seat[i].type_seat_id == "D2" ||
                  response.data.seat[i].type_seat_id == "D3" ||
                  response.data.seat[i].type_seat_id == "D4" ||
                  response.data.seat[i].type_seat_id == "D5" ||
                  response.data.seat[i].type_seat_id == "D6" ||
                  response.data.seat[i].type_seat_id == "D7" ||
                  response.data.seat[i].type_seat_id == "D8" ||
                  response.data.seat[i].type_seat_id == "D9" ||
                  response.data.seat[i].type_seat_id == "D10" ||
                  response.data.seat[i].type_seat_id == "D11" ||
                  response.data.seat[i].type_seat_id == "D12"
                ) {
                  this.items_seats.push(response.data.seat[i]);
                }
              }
            }
            for (var i = 0; i < response.data.seat.length; i++) {
              if (response.data.seat[i].name_seat == "Normal") {
                if (
                  response.data.seat[i].type_seat_id == "E1" ||
                  response.data.seat[i].type_seat_id == "E2" ||
                  response.data.seat[i].type_seat_id == "E3" ||
                  response.data.seat[i].type_seat_id == "E4" ||
                  response.data.seat[i].type_seat_id == "E5" ||
                  response.data.seat[i].type_seat_id == "E6" ||
                  response.data.seat[i].type_seat_id == "E7" ||
                  response.data.seat[i].type_seat_id == "E8" ||
                  response.data.seat[i].type_seat_id == "E9" ||
                  response.data.seat[i].type_seat_id == "E10" ||
                  response.data.seat[i].type_seat_id == "E11" ||
                  response.data.seat[i].type_seat_id == "E12"
                ) {
                  this.items_seats.push(response.data.seat[i]);
                }
              }
            }
            for (var i = 0; i < response.data.seat.length; i++) {
              if (response.data.seat[i].name_seat == "Normal") {
                if (
                  response.data.seat[i].type_seat_id == "F1" ||
                  response.data.seat[i].type_seat_id == "F2" ||
                  response.data.seat[i].type_seat_id == "F3" ||
                  response.data.seat[i].type_seat_id == "F4" ||
                  response.data.seat[i].type_seat_id == "F5" ||
                  response.data.seat[i].type_seat_id == "F6" ||
                  response.data.seat[i].type_seat_id == "F7" ||
                  response.data.seat[i].type_seat_id == "F8" ||
                  response.data.seat[i].type_seat_id == "F9" ||
                  response.data.seat[i].type_seat_id == "F10" ||
                  response.data.seat[i].type_seat_id == "F11" ||
                  response.data.seat[i].type_seat_id == "F12"
                ) {
                  this.items_seats.push(response.data.seat[i]);
                }
              }
            }
            for (var i = 0; i < response.data.seat.length; i++) {
              if (response.data.seat[i].name_seat == "Deluxe") {
                if (
                  response.data.seat[i].type_seat_id == "G1" ||
                  response.data.seat[i].type_seat_id == "G2" ||
                  response.data.seat[i].type_seat_id == "G3" ||
                  response.data.seat[i].type_seat_id == "G4" ||
                  response.data.seat[i].type_seat_id == "G5" ||
                  response.data.seat[i].type_seat_id == "G6" ||
                  response.data.seat[i].type_seat_id == "G7" ||
                  response.data.seat[i].type_seat_id == "G8" ||
                  response.data.seat[i].type_seat_id == "G9" ||
                  response.data.seat[i].type_seat_id == "G10" ||
                  response.data.seat[i].type_seat_id == "G11" ||
                  response.data.seat[i].type_seat_id == "G12"
                ) {
                  this.items_seats.push(response.data.seat[i]);
                }
              }
            }
          })
          .catch(err => {});
      } catch (error) {}
    },
    CheckBooking(item) {
      this.data_seat = this.selectSeats_send;
      this.array_send = [];
      this.array_send.push(this.selectSeats);
      this.array_send.push(this.total_price);
      EventBus.$emit("editItem", this.array_send);
    },
    Booking(id) {
      localStorage.id = id;
      this.$router.push("/booking");
    },
    MoreDetail(id) {
      localStorage.id = id;
      this.$router.push("/moredetail");
    },
    Back() {
      this.$router.push("/");
    }
  }
};
</script>
<style scoped>
.product-content :hover {
  /* border: 1px solid rgb(123, 123, 241); */
  opacity: 0.8;
}

.select {
  background-position: left center;
  background-repeat: no-repeat;

  width: 100%;
  /* height: 200px;s */
  border: 0px;
  margin: 7px 0 9px 0px;
  padding: 30px 0 9px 0;
  cursor: hand;
  cursor: pointer;
  color: #fff !important;
  font-family: Tahoma;
  font-size: 16px;
}
</style>
