<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialogs" persistent max-width="600px" dark>
      <v-card>
        <v-card-title>
          <span class="headline">Checkout</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field
                    outline
                    prepend-icon="payment"
                    color="success"
                    v-model="cardFormData.number"
                    label="Card number"
                    :rules="card_numberRules"
                    @keyup.enter="checkInput()"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    outline
                    prepend-icon="person"
                    color="success"
                    v-model="cardFormData.name"
                    label="Name on card"
                    :rules="name_cardRules"
                    @keyup.enter="checkInput()"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    outline
                    prepend-icon="calendar_today"
                    color="success"
                    v-model="cardFormData.expiration_month"
                    label="Expiry Month"
                    :rules="expiry_monthRules"
                    @keyup.enter="checkInput()"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    outline
                    prepend-icon="calendar_today"
                    color="success"
                    v-model="cardFormData.expiration_year"
                    label="Expiry Year"
                    :rules="expiry_yearRules"
                    @keyup.enter="checkInput()"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    outline
                    prepend-icon="vpn_key"
                    color="success"
                    v-model="cardFormData.security_code"
                    label="Security code"
                    :rules="security_codeRules"
                    @keyup.enter="checkInput()"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
          <v-btn color="success" flat @click="reset">Reset Form</v-btn>
          <v-btn color="success" flat :disabled="!valid" @click="checkInput()">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import axios from "axios";
import { EventBus } from "@/EventBus";
import { sync } from "vuex-pathify";
import swal from "sweetalert";
export default {
  name: "chargeForm",
  props: {
    msg: String
  },
  data() {
    return {
      cardFormData: {
        name: "",
        number: "",
        expiration_month: "",
        expiration_year: "",
        security_code: "",
        money: ""
      },
      dialogs: false,
      money: "",
      movie_id_get: "",
      user_id_get: "",
      movie_path: "",
      movie_time: "",
      movie_date: "",
      movie_name_th: "",
      movie_name_en: "",
      goto: false,
      valid: true,
      card_numberRules: [
        v => !!v || "Card number is required",
        v =>
          /^[0-9]{16}$/.test(v) ||
          "The card number must be numbered (0-9) for 16 numbers only."
      ],
      name_cardRules: [v => !!v || "Name on card is required"],
      expiry_monthRules: [
        v => !!v || "Expiry Month is required",
        v =>
          /^[0-9]{2}$/.test(v) ||
          "Expiry Month must number (0-9) for 2 numbers only"
      ],
      expiry_yearRules: [
        v => !!v || "Expiry Year is required",
        v =>
          /^[0-9]{2}$/.test(v) ||
          "Expiry Year must number (0-9) for 2 numbers only"
      ],
      security_codeRules: [
        v => !!v || "Security code is required",
        v =>
          /^[0-9]{3}$/.test(v) ||
          "Security code must number (0-9) for 3 numbers only"
      ]
    };
  },
  methods: {
    reset() {
      this.$refs.form.reset();
    },
    checkInput() {
      if (
        this.cardFormData.number &&
        this.cardFormData.name &&
        this.cardFormData.expiration_month &&
        this.cardFormData.expiration_year &&
        this.cardFormData.security_code
      ) {
        this.getTokenFromCard();
      } else {
        this.validate();
      }
    },

    validate() {
      if (this.$refs.form.validate()) {
      }
    },

    close() {
      this.dialogs = false;
    },
    getTokenFromCard() {
      this.dialogs = false;
      this.axios
        .post("http://localhost:3002/createToken", this.cardFormData)
        .then(response => {
          if (response.data.meaasge == "Charged Successfully") {
            this.saveticket();
          } else {
            swal("Error", "error naja", "error");
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    saveticket() {
      try {
        this.axios({
          method: "put",
          url: "http://192.168.253.156:3000/seat/seatupdate",
          data: {
            seat: this.data_seat
          }
        })
          .then(response => {
            try {
              this.axios
                .post("http://192.168.253.156:3000/booking/addbooking", {
                  User_id: this.user_id_get,
                  Movie_id: this.movie_id_get,
                  Seat_id: this.data_seat,
                  Name_en: this.movie_name_en,
                  Name_th: this.movie_name_th,
                  Date: this.movie_date,
                  Time: this.movie_time,
                  Movie_path: this.movie_path
                })
                .then(response => {
                  this.close();
                  swal("Success", "booking success naja", "success");
                  this.$router.push("/");
                })
                .catch(err => {
                  console.log(err);
                });
            } catch (error) {
              console.log(error.message);
            }
          })
          .catch(err => {
            console.log(err);
          });
      } catch (error) {
        console.log(error.message);
      }
    },
    open(item) {
      this.cardFormData.money = item;
      this.dialog = false;
      this.dialogs = true;
    }
  },
  mounted() {
    EventBus.$on("showChargeDialog", this.open);
    const recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute("src", "https://cdn.omise.co/omise.js.gz");

    document.head.appendChild(recaptchaScript);
  },
  created() {
    this.money = localStorage.getItem("price");
    this.movie_id_get = localStorage.getItem("movie_id");
    this.user_id_get = localStorage.getItem("user_id");
    this.movie_name_en = localStorage.getItem("movie_name_en");
    this.movie_name_th = localStorage.getItem("movie_name_th");
    this.movie_path = localStorage.getItem("movie_path");
    this.movie_date = localStorage.getItem("movie_date");
    this.movie_time = localStorage.getItem("movie_time");
  },
  computed: {
    datas: sync("items"),
    data_user: sync("items_user"),
    data_movie: sync("items_movie"),
    data_seat: sync("items_seat")
  }
};
</script>