<template>
  <v-app>
    <!-- <v-container fluid grid-list-md> -->
    <div class="background3">
      <div class="chat_window">
        <div class="top_menu">
          <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
          </div>
          <div class="title">Chat Movienaja</div>
        </div>
        <ul id="messages" class="messages" v-chat-scroll></ul>

        <div class="bottom_wrapper clearfix">
          <i id="typing"></i>
          <form id="form">
            <div class="message_input_wrapper">
              <input
                id="message"
                v-model="message"
                class="message_input"
                placeholder="Type your message here..."
              >
            </div>
            <button @click="sendMessage" class="send_message">Send</button>
          </form>
        </div>
      </div>
    </div>
  </v-app>
  <!-- </v-container> -->
</template>
<script>
import Cookies from "universal-cookie";
const cookies = new Cookies();
import io from "socket.io-client";
import { EventBus } from "@/EventBus";
export default {
  data() {
    return {
      user: "",
      username: "",
      message: "",
      messages: [],
      oldMessages: [],
      socket: io("http://192.168.253.156:3003")
    };
  },
  created() {
    if (!cookies.get("authen")) {
      this.$router.push("/");
    }
    this.user = localStorage.getItem("user_id");
    this.username = localStorage.getItem("username");
  },
  methods: {
    sendMessage(event) {
      event.preventDefault();
      this.socket.emit("input", {
        id: this.user,
        name: this.username,
        message: this.message
      });
      this.message = "";
    }
  },
  mounted() {
    let textarea = document.getElementById("message");
    textarea.addEventListener("keypress", event => {
      if (event.which === 13 && event.shiftKey == false) {
        event.preventDefault();
        this.socket.emit("input", {
          id: this.user,
          name: this.username,
          message: this.message
        });
        this.message = "";
      }
    });

    this.socket.on("output", data => {
      if (data.length > 0) {
        for (var x = 0; x < data.length; x++) {
          if (data[x].name == this.username) {
            let li = document.createElement("li");
            let span = document.createElement("span");

            var messages = document.getElementById("messages");
            li.setAttribute("class", "green_li");
            messages.appendChild(li).append(" " + data[x].message);
            messages.appendChild(span).append("by " + data[x].name);
          } else {
            let li = document.createElement("li");
            let span = document.createElement("span");
            var messages = document.getElementById("messages");
            messages.appendChild(li).append(" " + data[x].message);
            messages.appendChild(span).append("by " + data[x].name);
          }
        }
      }
    });
  }
};
</script>

<style>
.background3 {
  background-image: url("https://images.wallpaperscraft.com/image/darth_vader_armor_star_wars_film_hat_snow_93645_1920x1080.jpg");
  width: 100%;
  height: 100%;
  /* height: 500px; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.chatbox-frame {
  border: 1px solid black;
  overflow: auto;
  width: 100%;
  height: 500px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}
.green_li {
  background-color: #daf8b1 !important;
}
.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #000000;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  /* padding: 20px 10px 0 10px; */
  margin: 0;
  height: 373px;
  overflow-y: scroll;
}
.messages::-webkit-scrollbar-track {
  border: 0px solid #fafafa;
  padding: 2px 0;
  background-color: #d3d3d3;
}

.messages::-webkit-scrollbar {
  width: 1px;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 0px solid #000;
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}

.messages > li {
  font-size: 18px;
  color: rgb(21, 24, 23);
  background: #c0c0c085;
  border-radius: 5px;
  width: fit-content;
}

.messages > span {
  font-size: 12px;
  font-style: italic;
}
</style>