<template>
  <v-container fluid grid-list-md>
    <v-flex xs12 sm12 md12>
      <v-card>
        <v-carousel>
          <v-carousel-item v-for="(item,i) in items_banner" :key="i">
            <v-img :src="item.src" contain></v-img>
          </v-carousel-item>
        </v-carousel>
      </v-card>
    </v-flex>
  </v-container>
</template>
  <style scope>
.background {
  background-image: url("../assets/Background/backgroundmovie1.png");
  width: 100%;
  height: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
</style>
<script>
import Cookies from "universal-cookie";
const cookies = new Cookies();
export default {
  created() {
    if (!cookies.get("authen")) {
      this.$router.push("/");
    }
  },
  data: () => ({
    items_banner: [
      {
        src: require("@/assets/Pic_Movie/a.jpg")
      },
      {
        src: require("@/assets/Pic_Movie/b.jpg")
      },
      {
        src: require("@/assets/Pic_Movie/c.jpg")
      },
      {
        src: require("@/assets/Pic_Movie/d.jpg")
      },
      {
        src: require("@/assets/Pic_Movie/06.jpg")
      }
    ]
  })
};
</script>
