<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" max-width="600px" light>
      <v-card class="background_to">
        <v-card-title>
          <span style="color: white;" class="headline">{{ ticketDatas.movie_name_en }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-card
              class="mx-auto"
              color="#3f548ca6 !important"
              style="margin-bottom:1%"
              dark
              max-width="400"
              v-for="seat in ticketDatas.seat"
              :key="`4${seat._id}`"
            >
              <v-card-title>
                <span class="title font-weight-light">Movienaja</span>
              </v-card-title>

              <v-card-text>
                <h3>Movie : {{ticketDatas.movie_name_en}}</h3>
                <br>
                <h3>Seat : {{seat.name}}</h3>
                <br>
                <h3>Seat Type : {{seat.type}}</h3>
                <br>
                <h3>Price : {{seat.price}}</h3>
              </v-card-text>

              <v-card-actions></v-card-actions>
            </v-card>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success" flat @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { EventBus } from "@/EventBus";
import Cookies from "universal-cookie";
const cookies = new Cookies();
export default {
  data() {
    return {
      dialog: false,
      ticketDatas: ""
    };
  },
  mounted() {
    EventBus.$on("showticketDialog", this.showticketDialog);
  },
  methods: {
    showticketDialog(item = "component") {
      this.dialog = true;
      this.ticketDatas = item;
    }
  },
  created() {
    window.scrollTo(0, 0);
  }
};
</script>
<style scope>
.background_to {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/98/76/5257f5e7d0d71f5.jpg");
  /* width: 100%; */
  height: 100%;
  /* height: 500px;  */
  background-position: center;
  background-repeat: repeat-y;
  /* background-size: cover; */
}
</style>

