<template>
  <v-dialog v-model="dialog" max-width="500px" dark>
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>

      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap v-for="editedItem in editedItems[0]" :key="`4${editedItem._id}`">
            <v-flex xs4>
              <v-text-field disabled v-model="editedItem.type_seat_id" label="Name Seat"></v-text-field>
            </v-flex>
            <v-flex xs4>
              <v-text-field disabled v-model="editedItem.name_seat" label="Type Seat"></v-text-field>
            </v-flex>
            <v-flex xs4>
              <v-text-field disabled v-model="editedItem.price" label="Price"></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs8></v-flex>
            <v-flex xs4>ยอดชำระ : {{this.editedItems[1]}} บาท</v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" flat @click="showChargeDialog()">Submit</v-btn>
        <!-- <v-btn color="blue darken-1" flat @click="save">Submit</v-btn> -->
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Cookies from "universal-cookie";
const cookies = new Cookies();
import swal from "sweetalert";
import { EventBus } from "@/EventBus";
import { sync } from "vuex-pathify";

export default {
  data() {
    return {
      dialog: false,
      total: "",
      formTitle: "",
      editedItems: {},
      addItems: {},
      action: "",
      movie_id_get: "",
      user_id_get: "",
      money: ""
    };
  },
  computed: {
    datas: sync("items"),
    data_user: sync("items_user"),
    data_movie: sync("items_movie"),
    data_seat: sync("items_seat")
  },
  mounted() {
    EventBus.$on("newItem", this.newItem);
    EventBus.$on("editItem", this.editItem);
  },
  created() {
    if (!cookies.get("authen")) {
      this.$router.push("/");
    }
    this.movie_id_get = localStorage.getItem("movie_id");
    this.user_id_get = localStorage.getItem("user_id");
    this.movie_name_en = localStorage.getItem("movie_name_en");
  },
  methods: {
    showChargeDialog() {
      EventBus.$emit("showChargeDialog", this.editedItems[1]);
      this.dialog = false;
    },
    close() {
      this.dialog = false;
    },
    newItem() {
      this.formTitle = "New Item";
      this.action = "newItem";
      this.dialog = true;
      this.addedItems = {};
    },
    editItem(item = "component") {
      this.formTitle = "Comfirm Cinema Ticket";
      this.action = "editItem";
      this.editedItems = item;

      if (item[0].length == 0) {
        this.close();
        swal("Error", "select seat korn naja", "error");
      } else {
        this.dialog = true;
      }
    }
  }
};
</script>
