<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px" dark>
      <v-card>
        <v-card-title>
          <span class="headline">Login</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-form ref="loginForm" lazy-validation>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field
                    color="success"
                    outline
                    box
                    label="Username"
                    @keyup.enter="formlogin()"
                    prepend-icon="person"
                    v-model="username"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    color="success"
                    outline
                    box
                    label="Password"
                    prepend-icon="lock"
                    type="password"
                    v-model="password"
                    @keyup.enter="formlogin()"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success" flat @click="dialog = false; reset()">Close</v-btn>
          <v-btn color="success" flat @click="formlogin">Login</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { EventBus } from "@/EventBus";
import Cookies from "universal-cookie";
const cookies = new Cookies();
export default {
  data() {
    return {
      dialog: false,
      username: "",
      password: ""
    };
  },
  mounted() {
    EventBus.$on("showLoginDialog", this.showLoginDialog);
  },
  methods: {
    reset() {
      this.$refs.loginForm.reset();
    },
    showLoginDialog() {
      this.dialog = true;
    },
    formlogin() {
      try {
        this.axios
          .post("http://192.168.253.156:3000/users", {
            username: this.username,
            password: this.password
          })
          .then(response => {
            this.data_user = response.data._id;
            localStorage.setItem("user_id", response.data._id);
            localStorage.setItem("username", response.data.username);
            cookies.set("authen", true, [{ path: "/" }]);
            this.dialog = false;
            window.location.reload();
          })
          .catch(err => {
            swal("Error", "error username or password naja", "error");
            console.log(err);
            this.reset();
          });
      } catch (error) {
        console.log(error.message);
      }
    }
  }
};
</script>

