<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px" dark>
      <v-card>
        <v-card-title>
          <span class="headline">Register</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field
                    outline
                    prepend-icon="email"
                    color="success"
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    @keyup.enter="checkInput()"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    outline
                    color="success"
                    prepend-icon="person"
                    v-model="username"
                    :rules="userRules"
                    label="Username:"
                    @keyup.enter="checkInput()"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    outline
                    type="password"
                    color="success"
                    v-model="password"
                    :rules="passRules"
                    label="Password:"
                    prepend-icon="lock"
                    @keyup.enter="checkInput()"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    outline
                    type="password"
                    color="success"
                    prepend-icon="lock"
                    v-model="confirm_password"
                    :rules="confirm_passRules"
                    label="Confirm Password:"
                    @keyup.enter="checkInput()"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="success" flat @click="dialog = false; reset()">Close</v-btn>
          <v-btn color="success" flat @click="reset">Reset Form</v-btn>
          <v-btn color="success" flat :disabled="!valid" @click="checkInput">Register</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { EventBus } from "@/EventBus";
import Cookies from "universal-cookie";
const cookies = new Cookies();
export default {
  data() {
    return {
      dialog: false,
      valid: true,
      username: "",
      password: "",
      confirm_password: "",
      email: "",
      userRules: [
        v => !!v || "Username is required",
        v => /^[a-zA-Z]+$/.test(v) || "Username must english only"
      ],
      passRules: [v => !!v || "Password is required"],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ]
    };
  },
  computed: {
    confirm_passRules() {
      return [
        () =>
          this.password === this.confirm_password ||
          "Confirmation Password must match",

        v => !!v || "Confirmation Password is required"
      ];
    }
  },
  mounted() {
    EventBus.$on("showRegisterDialog", this.showRegisterDialog);
  },
  methods: {
    showRegisterDialog() {
      this.dialog = true;
    },
    reset() {
      this.$refs.form.reset();
    },
    checkInput() {
      if (
        this.email &&
        this.username &&
        this.password &&
        this.confirm_password
      ) {
        this.postData();
      } else {
        this.validate();
      }
    },
    validate() {
      if (this.$refs.form.validate()) {
      }
    },

    reset() {
      this.$refs.form.reset();
    },
    handleusernamechange(e) {
      let temparr = [...e.target.value];
      let filtered = temparr.filter(char => {
        if (/^[a-zA-Z]+$/.test(char)) {
          return char;
        } else {
          return "";
        }
      });
      e.target.value = filtered.join("");
    },
    async postData() {
      try {
        await this.axios
          .post("http://192.168.253.156:3000/users/register", {
            email: this.email,
            username: this.username,
            password: this.password
          })
          .then(result => {
            swal("Register", "success naja", "success");
            this.dialog = false;
          });
      } catch (error) {
        console.log(error.message);
      }
    }
  }
};
</script>

