<template>
  <v-app>
    <v-content>
      <div class="background_login">
        <v-flex xs12 sm6 offset-sm3 px-3 py-5>
          <br>
          <br>
          <br>
          <v-flex xs12 text-xs-center>
            <h1>LOGIN TO MOVIENAJA</h1>
            <v-btn flat href="./register">
              <span class="mr-2">
                <h3>or create an account</h3>
              </span>
            </v-btn>
          </v-flex>
          <br>
          <br>
          <br>
          <v-container grid-list-xs>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field box label="Username" prepend-icon="email" v-model="username"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  box
                  label="Password"
                  prepend-icon="lock"
                  type="password"
                  v-model="password"
                  @keyup.enter="formlogin()"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 text-xs-center>
                <v-btn color="light-green lighten-3" @click="formlogin">Login</v-btn>
                <v-btn color="light-green lighten-3" @click="register">Register</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </div>
    </v-content>
  </v-app>
</template>
  <style scope>
.background_login {
  background-image: url("../assets/Background/background1.jpg");
  width: 100%;
  height: 100%;
  /* height: 500px; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
</style>

<script>
import swal from "sweetalert";
import Cookies from "universal-cookie";
import { sync } from "vuex-pathify";
const cookies = new Cookies();
export default {
  computed: {
    data_user: sync("items_user")
  },
  data() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    formlogin() {
      try {
        this.axios
          .post("http://192.168.253.156:3000/users", {
            username: this.username,
            password: this.password
          })
          .then(response => {
            this.data_user = response.data._id;
            localStorage.setItem("user_id", response.data._id);
            localStorage.setItem("username", response.data.username);
            cookies.set("authen", true, [{ path: "/" }]);
            this.$router.push("/dashboard");
          })
          .catch(err => {
            swal("Error", "error username or password naja", "error");
            console.log(err);
          });
      } catch (error) {
        console.log(error.message);
      }
    },
    register() {
      this.$router.push("/register");
    }
  }
};
</script>
