<template>
  <!-- <v-app> -->
  <!-- <v-content> -->
  <v-layout>
    <v-flex xs8 offset-xs2 offset-sm2 offset-md2>
      <v-card>
        <v-flex xs12>
        </v-flex>
        <v-flex xs12></v-flex>
        <br>
        <div>
          <h2 class="orange--text">&nbsp;&nbsp;{{this.data_movies.Name_en}}</h2>
          <h3 class="orange--text">&nbsp;&nbsp;{{this.data_movies.Name_th}}</h3>
        </div>
        <br>
      </v-card>
      <br>
      <v-layout row wrap xs12 md12 sm12>
        <v-flex xs4>
          <v-container class="container">
            <v-layout flex-child wrap>
              <v-flex xs12 d-flex>
                <v-sheet class="d-flex" color="blue-grey darken-3" height="96%">
                  <div class="blog">
                    <v-img class="white--text" height="400px" :src="this.data_movies.Picture"/>
                    <br>
                    <div class="listteam">
                      <div class="hteam">
                        <h4 class="txt-hteam">ผู้กำกับ :</h4>
                      </div>
                      <div class="dteam">
                        <span>
                          <p class="txt-dteam">{{this.data_movies.Director}}</p>
                        </span>
                      </div>
                    </div>
                    <div class="listteam">
                      <div class="hteam">
                        <h4 class="txt-hteam">นักแสดง :</h4>
                      </div>
                      <div class="dteam">
                        <span>
                          <p class="txt-dteam">{{this.data_movies.Action}}</p>
                        </span>
                      </div>
                    </div>
                    <div class="listteam">
                      <div class="hteam">
                        <h4 class="txt-hteam">ค่ายภาพยนตร์ :</h4>
                      </div>
                      <div class="dteam">
                        <span>
                          <p class="txt-dteam">{{this.data_movies.Movie_camp}}</p>
                        </span>
                      </div>
                    </div>
                    <div class="listteam">
                      <div class="hteam">
                        <h4 class="txt-hteam">วันที่เข้าฉาย :</h4>
                      </div>
                      <div class="dteam">
                        <span>
                          <p class="txt-dteam">{{this.data_movies.Date_on}}</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </v-sheet>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>

        <v-flex xs8>
          <v-img class="white--text" height="180px" widht="100%" :src="this.src"/>
          <div class="videoWrapper">
            <div v-html="this.data_movies.Src_youtube"></div>
          </div>
        </v-flex>
      </v-layout>

      <v-card-title class="titlecard">
        <div class="detail">
          <h3>เรื่องย่อ</h3>
          <br>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{this.data_movies.Description}}</span>
        </div>
      </v-card-title>
    </v-flex>
  </v-layout>
</template>

<script>
import Cookies from "universal-cookie"
const cookies = new Cookies()
export default {
  components: {
    SheetFooter: {
      functional: true,

      render(h, { children }) {
        return h(
          "v-sheet",
          {
            staticClass: "mt-auto align-center justify-center d-flex",
            props: {
              color: "rgba(0, 0, 0, .36)",
              dark: true,
              height: 50
            }
          },
          children
        );
      }
    }
  },
  data: () => ({
    data_movies: [],
    src: require("@/assets/logo_movienaja.png")
  }),
  created() {
    this.getData(localStorage.id);
    window.scrollTo(0, 0);
  },
  methods: {
    async getData(id) {
      try {
        var { data } = await this.axios.get(
          "http://192.168.253.156:3000/movie/getmovies_id/" + id
        );
        this.data_movies = data.movie
      } catch (error) {
        console.log(error.message)
      }
    },
    Back() {
      this.$router.push("/dashboard")
    }
  }
};
</script>
<style>
.text_center {
  text-align: center;
}
.blog {
  width: 100%;
  border-radius: 3px;
  /* background: #b0bec5; */
  float: left;
  margin: 5px 0;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  padding: 20px;
}
.detail {
  width: 100%;
  border-radius: 3px;
  background: #b0bec5;
  float: left;
  margin: 5px 0;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  padding: 20px;
}
.list {
  float: left;
  width: 100%;
  margin: 5px 0;
}
.topiclist {
  color: red;
  float: left;
  width: 180px;
  margin: 0 5px;
}
.description {
  float: left;
  width: 900px;
  margin: 0 5px;
}
.dteam {
  width: 80%;
  float: left;
}
.hteam {
  width: 30%;
  float: left;
}
.listteam {
  float: left;
  width: 200%;
}
.videoWrapper {
  position: relative;
  /* 16:9 */
  padding-bottom: 73%;
  /* padding-top: 25px; */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container {
  padding: 0px !important;
}
.titlecard {
  padding: 0px !important;
}
</style>