
<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex v-for="items_movie in items_movies" :key="`4${items_movie._id}`" xs3 sm3 md3>
        <v-card class="movie-card">
          <v-img
            @click="MoreDetail(items_movie._id)"
            class="white--text"
            height="400px"
            :src="items_movie.Picture"
          />
          <div>
            <v-btn @click="Booking(items_movie)" color="amber accent-4">Buy Now</v-btn>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import Cookies from "universal-cookie";
import { EventBus } from "@/EventBus";
const cookies = new Cookies();
import { sync } from "vuex-pathify";
export default {
  computed: {
    data_movie: sync("items_movie")
  },
  data: () => ({
    items_movies: []
  }),
  created() {
    this.getData();
  },
  methods: {
    async getData() {
      try {
        var { data } = await this.axios.get(
          "http://192.168.253.156:3000/movie/getmovies"
        );
        this.items_movies = data;
        this.datas = data;
      } catch (error) {
        console.log(error.message);
      }
    },
    Booking(data) {
      if (!cookies.get("authen")) {
        EventBus.$emit("showLoginDialog");
      } else {
        this.data_movie = data;
        localStorage.setItem("movie_id", this.data_movie._id);
        localStorage.setItem("movie_name_th", this.data_movie.Name_th);
        localStorage.setItem("movie_name_en", this.data_movie.Name_en);
        localStorage.setItem("movie_time", this.data_movie.Time);
        localStorage.setItem("movie_date", this.data_movie.Created);
        localStorage.setItem("movie_path", this.data_movie.Picture);
        this.$router.push("/booking");
      }
    },
    MoreDetail(id) {
      localStorage.id = id;
      this.$router.push("/moredetail");
    }
  }
};
</script>
<style scoped>
.movie-card:hover {
  cursor: pointer;
}
</style>
