<template>
  <v-app>
    <v-content>
      <div class="background">
        <v-flex xs12 sm4 offset-sm4 px-3 py-5>
          <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
              <h1>Register</h1>
              <br>
              <v-text-field
                placeholder="Please enter E-mail"
                outline
                color="success"
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>

              <v-text-field
                placeholder="Please enter Username"
                outline
                color="success"
                v-model="username"
                :rules="userRules"
                label="Username:"
                required
              ></v-text-field>

              <v-text-field
                placeholder="Please enter Password"
                outline
                type="password"
                color="success"
                v-model="password"
                :rules="passRules"
                label="Password:"
                required
              ></v-text-field>


              <v-text-field
                placeholder="Please enter Confirm Password"
                outline
                type="password"
                color="success"
                v-model="confirm_password"
                :rules="confirm_passRules"
                label="Confirm Password:"
                required
              ></v-text-field>


              <v-checkbox
                v-model="checkbox"
                :rules="[v => !!v || 'You must agree to continue!']"
                label="Do you agree?"
                required
              ></v-checkbox>

              <v-flex xs12 text-xs-center>
                <v-btn :disabled="!valid" color="success" @click="checkInput">Submit</v-btn>
                <v-btn color="error" @click="reset">Reset Form</v-btn>
                <v-btn color="error" @click="back()">Back</v-btn>
              </v-flex>

              <!-- <v-btn color="warning" @click="resetValidation">Reset Validation</v-btn> -->
            </v-form>
          </v-container>
        </v-flex>
      </div>
    </v-content>
  </v-app>
</template>

<style scope>
.background {
  background-image: url("../assets/Background/background.jpg");
  width: 100%;
  height: 100%;
  /* height: 500px; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
</style>

<script>
import { SlowBuffer } from "buffer";
import swal from "sweetalert";
export default {
  data: () => ({
    valid: true,
    username: "",
    password: "",
    confirm_password: "",
    email: "",
    checkbox: false,
    userRules: [
      v => !!v || "Username is required",
      v => /^[a-zA-Z]+$/.test(v) || "Username must english only"
    ],
    passRules: [v => !!v || "Password is required"],
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ]
  }),

  computed: {
    confirm_passRules() {
      return [

        () => this.password === this.confirm_password || "Confirmation Password must match",

        v => !!v || "Confirmation Password is required"
      ];
    }
  },

  methods: {
    checkInput() {

      
      if (this.email && this.username && this.password && this.checkbox && this.confirm_password) {

        this.postData();
      } else {
        this.validate();
      }
    },
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
        console.log("validate");
      }
    },
    back() {
      this.$router.push("/");
    },
    reset() {
      this.$refs.form.reset();
    },
    handleusernamechange(e) {
      let temparr = [...e.target.value];
      let filtered = temparr.filter(char => {
        if (/^[a-zA-Z]+$/.test(char)) {
          return char;
        } else {
          return "";
        }
      });
      e.target.value = filtered.join("");
    },
    async postData() {
      try {
        await this.axios


          .post("http://192.168.253.126:3000/users/register", {

            email: this.email,
            username: this.username,
            password: this.password
          })
          .then(result => {
            swal("Register", "success naja", "success");

            this.$router.push("/");
          });
      } catch (error) {
        console.log(error.message);
      }
    }
  }
};
</script>