<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap justify-center>
      <v-flex xs3 v-for="items_booking in items_bookings" :key="`4${items_booking._id}`">
        <v-card class="movie-card" @click="showTicketDialog(items_booking)">
          <v-img :src="items_booking.movie_path" style="height:400px" aspect-ratio="2.75"></v-img>
          <v-card-title primary-title>
            <div>
              <h3 class>{{ items_booking.movie_name_en }}</h3>
              <h3 class>{{ items_booking.movie_name_th }}</h3>
              <div></div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="orange">show ticket</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style scope>
.background {
  background-image: url("../assets/Background/backgroundmovie1.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<script>
import Cookies from "universal-cookie";
const cookies = new Cookies();
import { EventBus } from "@/EventBus";
export default {
  created() {
    window.scrollTo(0, 0);
    if (!cookies.get("authen")) {
      this.$router.push("/");
    }
    this.user_id_get = localStorage.getItem("user_id");
    this.getticket();
  },
  data: () => ({
    user_id_get: "",
    items_bookings: [],
    items_banner: [
      {
        src: require("@/assets/Pic_Movie/8.png")
      },
      {
        src: require("@/assets/Pic_Movie/10.jpg")
      },
      {
        src: require("@/assets/Pic_Movie/11.jpg")
      },
      {
        src: require("@/assets/Pic_Movie/12.jpg")
      }
    ]
  }),
  methods: {
    showText(text) {
      EventBus.$emit("showticketDialog");
    },
    showTicketDialog(item) {
      EventBus.$emit("showticketDialog", item);
    },
    getticket() {
      try {
        this.axios
          .get(
            "http://192.168.253.156:3000/booking/getbooking/" + this.user_id_get
          )
          .then(response => {
            this.items_bookings = response.data.bookings;
          })
          .catch(err => {});
      } catch (error) {}
    }
  }
};
</script>
<style scoped>
.movie-card:hover {
  cursor: pointer;
}
</style>
